In [1]:
## swap two variables

In [4]:
a= 10
b= 4
a,b= b,a
print(a,b)

4 10

In [5]:
##  Check if number is even or odd

In [6]:
num = 2
if num % 2  == 0:
    print('even') 
else:
    print('odd')

even

In [7]:
## Find the factorial of a number

In [13]:
def factorial(n):
    return 1 if n ==0 else n* factorial(n-1)

print(factorial(0))

1

In [20]:
alp = 'rar'
if alp == alp[::-1]:
    print("pallindrom")
else: 
    print("Not pallindrome")

pallindrom

In [ ]:
## count vowel in string

In [31]:
a= 'bbabbb'
for vowel in a:
    if vowel in 'aeiou':
        print('vowel')
    else:
        print('not vowel')

not vowel
not vowel
vowel
not vowel
not vowel
not vowel

In [33]:
a = 'bbbib'
if any(char in 'aeiou' for char in a):
    print('vowel')
else:
    print('not vowel')

vowel

In [34]:
 ## Find the max of three numbers

In [38]:
a= [1,2,3,4,]
print(max(a))

4

In [ ]:
## . FizzBuzz
Hint: Print "Fizz" for multiples of 3, "Buzz" for 5, and both for 15.

In [54]:
for i in range(1,16):
    output = ''
    if i % 3 == 0:
        output = output+ 'FIZZ'
    if i % 5 == 0:
        output = output+ 'BUZZ'
    if i % 3 ==0 and i%5 ==0:
        output =output+ 'FIZZBUZZ'
    print(i, output)

1
2
3 FIZZ
4
5 BUZZ
6 FIZZ
7
8
9 FIZZ
10 BUZZ
11
12 FIZZ
13
14
15 FIZZBUZZFIZZBUZZ

In [52]:
for i in range(1, 16):
    output = ''
    if i % 3 == 0: output += 'Fizz'
    if i % 5 == 0: output += 'Buzz'
    print(output or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [55]:
## Check if a number is prime

In [57]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i ==0:
            return False
    return True

In [59]:
is_prime(3)

True

In [ ]:
## Reverse a list

In [60]:
lst= [1,2,3,4,5]
print (lst[::-1])

[5, 4, 3, 2, 1]

In [ ]:
##  Find duplicates in a list

In [64]:
def find_duplicates(lst):
    return set([x for x in lst if lst.count(x)>1])
lst= [1,2,3,4,4,43,2]
print(find_duplicates(lst))

{2, 4}

In [66]:
def find_duplicaes(lst):
    return set([x for x in lst if lst.count(x)>1])
    lst =[1,2,3,4,4,4,5,5,6,]
print(find_duplicates(lst))

{2, 4}

In [ ]:
## Get all duplicates including repetitions

In [75]:
def get_all_duplicate_entries(lst):
    seen =set()
    duplicates= []
    for item in lst:
        if item in seen:
            duplicates.append(item)
        else:
            seen.add(item)
    return duplicates

In [76]:
my_lst=[11,22,3,33,3,3,3,4,4,4,5,5,]
print(get_all_duplicate_entries(my_lst))

[3, 3, 3, 4, 4, 5]