In [2]:
mul=int(input('enter a num'))

for i in range(1,11):
    print(f"{mul} * {i}= {mul*i}")

enter a num 11

11 * 1= 11
11 * 2= 22
11 * 3= 33
11 * 4= 44
11 * 5= 55
11 * 6= 66
11 * 7= 77
11 * 8= 88
11 * 9= 99
11 * 10= 110

In [11]:
lst=[1,2,3,4,5,6,7,8,9,0]
for i in lst:
    if i % 2== 0:
        print(f"{i} is even")
    else:
        print(f"{i}is odd")

1is odd
2 is even
3is odd
4 is even
5is odd
6 is even
7is odd
8 is even
9is odd
0 is even

In [14]:
odd, even = [], []

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 22, 33, 44, 55, 66, 777, 88]

for num in numbers:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

print(f"Even numbers are: {even}")
print(f"Odd numbers are: {odd}")

Even numbers are: [2, 4, 6, 8, 0, 22, 44, 66, 88]
Odd numbers are: [1, 3, 5, 7, 9, 11, 33, 55, 777]

In [ ]:
i=0

while i<5:
    print(i)
    i=i+1

In [3]:
i =0
while i <10:
    print (i)
    i=i+1
    if i==5:
        break

0
1
2
3
4

In [2]:
i = 0
while i < 10:
    print(i)
    i = i + 1
    if i == 5:
        break

0
1
2
3
4

In [4]:
names=['ram', 'shyam', 'hari']
for name in names:
    print (name)
    if name== 'shyam':
        continue
    print(name)

ram
ram
shyam
hari
hari

In [14]:
num=505
sum=0
i=1
while i<=num:
    sum =sum+i
    i=i+1
    if sum >100:
        break
print ("sum of first five natural number", num , sum)

sum of first five natural number 505 105

In [15]:
num=505
sum=0
i=1
while i<=num:
    sum =sum+i
    i=i+1
print ("sum of first five natural number", num , sum)

sum of first five natural number 505 127765

In [20]:
num=10
prod=1
i=1
while i<=num:
    prod =prod*i
    i=i+1
    
print ("sum of first five natural number", num , prod)

sum of first five natural number 10 3628800

In [21]:
sent = "A single training set that has already been processed is usually split into several types of datasets in machine learning which is needed to check how well the training of the model went"

# Split sentence into words
words = sent.split()

# Count letters for each word
for word in words:
    print(f"{word} : {len(word)}")

A : 1
single : 6
training : 8
set : 3
that : 4
has : 3
already : 7
been : 4
processed : 9
is : 2
usually : 7
split : 5
into : 4
several : 7
types : 5
of : 2
datasets : 8
in : 2
machine : 7
learning : 8
which : 5
is : 2
needed : 6
to : 2
check : 5
how : 3
well : 4
the : 3
training : 8
of : 2
the : 3
model : 5
went : 4

In [ ]:
sent = "A single training set that has already been processed is usually split into several types of datasets in machine learning which is needed to check how well the training of the model went"

# Split sentence into words
words = sent.split()

# Create two separate lists
word_list = [word for word in words]
length_list = [len(word) for word in words]

print("Words:", word_list)
print("Lengths:", length_list)