In [2]:
mul=int(input('enter a num'))

for i in range(1,11):
    print(f"{mul} * {i}= {mul*i}")

enter a num 11

11 * 1= 11
11 * 2= 22
11 * 3= 33
11 * 4= 44
11 * 5= 55
11 * 6= 66
11 * 7= 77
11 * 8= 88
11 * 9= 99
11 * 10= 110

In [11]:
lst=[1,2,3,4,5,6,7,8,9,0]
for i in lst:
    if i % 2== 0:
        print(f"{i} is even")
    else:
        print(f"{i}is odd")

1is odd
2 is even
3is odd
4 is even
5is odd
6 is even
7is odd
8 is even
9is odd
0 is even

In [14]:
odd, even = [], []

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11, 22, 33, 44, 55, 66, 777, 88]

for num in numbers:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

print(f"Even numbers are: {even}")
print(f"Odd numbers are: {odd}")

Even numbers are: [2, 4, 6, 8, 0, 22, 44, 66, 88]
Odd numbers are: [1, 3, 5, 7, 9, 11, 33, 55, 777]

In [ ]:
i=0

while i<5:
    print(i)
    i=i+1

In [3]:
i =0
while i <10:
    print (i)
    i=i+1
    if i==5:
        break

0
1
2
3
4

In [2]:
i = 0
while i < 10:
    print(i)
    i = i + 1
    if i == 5:
        break

0
1
2
3
4

In [4]:
names=['ram', 'shyam', 'hari']
for name in names:
    print (name)
    if name== 'shyam':
        continue
    print(name)

ram
ram
shyam
hari
hari

In [14]:
num=505
sum=0
i=1
while i<=num:
    sum =sum+i
    i=i+1
    if sum >100:
        break
print ("sum of first five natural number", num , sum)

sum of first five natural number 505 105

In [15]:
num=505
sum=0
i=1
while i<=num:
    sum =sum+i
    i=i+1
print ("sum of first five natural number", num , sum)

sum of first five natural number 505 127765

In [20]:
num=10
prod=1
i=1
while i<=num:
    prod =prod*i
    i=i+1
    
print ("sum of first five natural number", num , prod)

sum of first five natural number 10 3628800

In [21]:
sent = "A single training set that has already been processed is usually split into several types of datasets in machine learning which is needed to check how well the training of the model went"

# Split sentence into words
words = sent.split()

# Count letters for each word
for word in words:
    print(f"{word} : {len(word)}")

A : 1
single : 6
training : 8
set : 3
that : 4
has : 3
already : 7
been : 4
processed : 9
is : 2
usually : 7
split : 5
into : 4
several : 7
types : 5
of : 2
datasets : 8
in : 2
machine : 7
learning : 8
which : 5
is : 2
needed : 6
to : 2
check : 5
how : 3
well : 4
the : 3
training : 8
of : 2
the : 3
model : 5
went : 4

In [1]:
sent = "A single training set that has already been processed is usually split into several types of datasets in machine learning which is needed to check how well the training of the model went"

# Split sentence into words
words = sent.split()

# Create two separate lists
word_list = [word for word in words]
length_list = [len(word) for word in words]

print("Words:", word_list)
print("Lengths:", length_list)

Words: ['A', 'single', 'training', 'set', 'that', 'has', 'already', 'been', 'processed', 'is', 'usually', 'split', 'into', 'several', 'types', 'of', 'datasets', 'in', 'machine', 'learning', 'which', 'is', 'needed', 'to', 'check', 'how', 'well', 'the', 'training', 'of', 'the', 'model', 'went']
Lengths: [1, 6, 8, 3, 4, 3, 7, 4, 9, 2, 7, 5, 4, 7, 5, 2, 8, 2, 7, 8, 5, 2, 6, 2, 5, 3, 4, 3, 8, 2, 3, 5, 4]

1. Print numbers from 1 to 10
ðŸ§  Hint: for i in range(1, 11):

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Print even numbers from 1 to 50
ðŸ§  Hint: Use step in range(start, end, step) â†’ range(2, 51, 2)

In [10]:
for i in range (2,51,2):
    
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

3. Print numbers in reverse from 10 to 1
ðŸ§  Hint: range(10, 0, -1)

In [14]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

4. Print sum of numbers from 1 to N
ðŸ§  Hint: Initialize total = 0, add i in a for or while loop.

In [ ]:


n = int(input("Enter a number: "))
total = 0
i = 1

while i <= n:
    total += i
    i += 1

print("Sum from 1 to", n, "is:", total)

7. Count digits in a number
Input: 12345 â†’ Output: 5
ðŸ§  Hint: Use while num > 0: â†’ num //= 10

In [3]:
num = 1234562222  # You can change this to any number
count = 0

while num > 0:
    num //= 10
    count += 1

print("Number of digits:", count)

Number of digits: 10

8. Reverse a number
Input: 1234 â†’ Output: 4321
ðŸ§  Hint: Use modulus and division

In [7]:
num = 1234
reversed_num = int(str(num)[::-1])
print(reversed_num)

4321

In [ ]:
num = 1234
reversed_num = 0

while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print(reversed_num)

Sum of digits
Input: 123 â†’ Output: 6
ðŸ§  Hint: Add num % 10 in loop

In [ ]:
num = 123
add = 0

while num > 0:
    digit = num % 10
    add += digit
    num //= 10

print("Sum of digits:", add)

In [ ]:
num = 123
add = 0

while num > 0:
    digit = num % 10
    add += digit
    num //= 10

print("Sum of digits:", add)

In [1]:
num=12324
add =0

while num >0:
    digit = num%10
    add=add +digit
    num= num //10
print(add)

12

In [4]:
print(False is False is False)

True

10. Factorial of a number
Input: 5 â†’ Output: 120
ðŸ§  Hint: result *= i in loop from 1 to n

In [20]:
n = 5
fact = 1

for i in range(1, n + 1):
    fact *= i

print("Factorial of", n, "is", fact)

Factorial of 5 is 120

In [21]:
import math

n = 5
print("Factorial of", n, "is", math.factorial(n))

Factorial of 5 is 120

11. Check if number is prime
ðŸ§  Hint: Check divisibility from 2 to n-1. Use break if divisor found.

In [ ]:
n = 50  # Change this to any upper limit
print("Prime numbers up to", n, "are:")

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=' ')